*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-title{
    text-align: center;
    padding-top: 70px;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}
 .header{
     display:grid;
     justify-content: space-between;
 }

 .menu{
     margin-right: 30px;
 }
